<br>
<div class="jumbotron p-3 p-md-2 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
        <h3 class="display-4 font-italic">Welcome to admin dasboard</h3>
        <p class="lead my-3">Admin can manage user and product details.</p>
        <!-- <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p> -->
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-6" (click)="userDashboard()">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">User</strong>
                <h3 class="mb-0">Manage User</h3>
                <div class="progressbar-div">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width.%': admin}"
                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Admin: {{admin}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width.%': seller}"
                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Seller: {{seller}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': buyer}"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Buyer: {{buyer}}</div>
                    </div>
                </div>
            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="220" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                    <title>Manage User</title>
                    <rect width="100%" height="100%" fill="#55595c" /><text x="30%" y="50%" fill="#eceeef" dy=".3em">
                    Tatal User: {{total}}
                </text>
                </svg>
            </div>
        </div>
    </div>
    <div class="col-md-6" (click)="productDashboard()">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Products</strong>
                <h3 class="mb-0">Manage Products</h3>
                <!-- <div class="mb-1 text-muted">Last Product Update: <strong> Nov 11</strong></div> -->
                <div class="progressbar-div">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" [style.width.%]="pubproduct"
                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Published: {{pubproduct}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': inaproduct}"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Inactive: {{inaproduct}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width.%': dproduct}"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Draft: {{dproduct}}</div>
                    </div>
                </div>
            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="220" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                    <title>Manage Products</title>
                    <rect width="100%" height="100%" fill="#55595c" /><text x="10%" y="50%" fill="#eceeef" dy=".3em">
                    Total Products: {{totproduct}}
                </text>
                </svg>
            </div>
        </div>
    </div>
</div>
