<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Vente de lunettes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">


            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">{{'header.home' | translate}} <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/vendeurs">Vendeurs <span class="sr-only"></span></a>
            </li>
        

          <!--

            <li class="nav-item" *ngIf="userrole == 'seller'">
                    <a class="nav-link" routerLink="/seller/product">{{'header.product' | translate}}</a>
            </li>
            <li class="nav-item" *ngIf="userrole == 'admin'">
                    <a class="nav-link" routerLink="/admin/product">{{'header.product' | translate}}</a>
            </li>
            <li class="nav-item" *ngIf="userrole == 'admin'">
                    <a class="nav-link" routerLink="/admin/user">{{'header.user' | translate}}</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" routerLink="/contact-us">{{'header.contact_us' | translate}}</a>
            </li>
            -->
        </ul>
       
        <ul class="navbar-nav ml-auto" *ngIf="!loggedin">
            <li class="nav-item">
                <a class="nav-link" routerLink="/sign-in">{{'header.signin' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/sign-up">{{'header.signup' | translate}}</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="loggedin">
          <!-- <li class="nav-item">
                <a class="nav-link sim-pointer" routerLink="/my-profile">{{'header.my_profile' | translate}}</a>
            </li>--> 
            <li class="nav-item">
                <a class="nav-link sim-pointer" (click)="logOut()">{{'header.signout' | translate}}</a>
            </li>
        </ul>
    </div>
</nav>
